<div class="lateral_menu">
  <div class="logo">
    <a (click)="reloadPage()">
    <img src="https://uploads-tiflux.s3.amazonaws.com/production/organizations/logo_dark_and_default_modes/9513/original/Logo_(white).png?1679506377">
    </a>
  </div>
  <div class="menu">
    <li class="bot-tit"> Atalhos Tributario </li>
    <li class="bot" [class.active]="selectedComponent === 'GoGlobal'" (click)="selectComponent('GoGlobal')"> <i class="fa-solid fa-globe" style="margin-right: 15px; font-size: 18px;"></i> GoGlobal </li>
    <li class="bot" [class.active]="selectedComponent === 'IssOnline'" (click)="selectComponent('IssOnline')"> <i class="fa-regular fa-newspaper" style="margin-right: 15px; font-size: 18px;"></i> IssOnline </li>
    <li class="bot" [class.active]="selectedComponent === 'IssOnline-dev'" (click)="selectComponent('IssOnline-dev')"> <i class="fa-solid fa-newspaper" style="margin-right: 15px; font-size: 18px;"></i> IssOn Homol. </li>
    <li class="bot" [class.active]="selectedComponent === 'egov'" (click)="selectComponent('egov')"> <i class="fa-solid fa-building-columns" style="margin-right: 15px; font-size: 18px;"></i> E-Gov </li>
    <li class="bot" [class.active]="selectedComponent === 'egov_dev'" (click)="selectComponent('egov_dev')"> <i class="fa-solid fa-building-user" style="margin-right: 15px; font-size: 18px;"></i> E-Gov Homol.  </li>
    <li class="bot" [class.active]="selectedComponent === 'config'" (click)="selectComponent('config')"> <i class="fa-solid fa-gear" style="margin-right: 15px; font-size: 18px;"></i> Config E-Gov </li>
    <li class="bot" [class.active]="selectedComponent === 'login-novo'" (click)="selectComponent('login-novo')"> <i class="fa-solid fa-user" style="margin-right: 15px; font-size: 18px;"></i> Login Novo </li>
    <li class="bot" [class.active]="selectedComponent === 'setup'" (click)="selectComponent('setup')"> <i class="fa-solid fa-sliders" style="margin-right: 15px; font-size: 18px;"></i> Geosiap Setup </li>
    <li class="bot" [class.active]="selectedComponent === 'pessoas'" (click)="selectComponent('pessoas')"> <i class="fa-solid fa-users" style="margin-right: 15px; font-size: 18px;"></i> Pessoas </li>
    <li class="bot" [class.active]="selectedComponent === 'links'" (click)="selectComponent('links')"> <i class="fa-solid fa-link" style="margin-right: 15px; font-size: 18px;"></i> Links Uteis </li>
  </div>
    <p class="versao"> V1.109.04 </p>
    <p class="sobre"> Saiba Mais </p>
    <p class="creditos"> Criado por Jonathan William </p>
</div>
