<div class="lateral_menu">
  <div class="logo">
    <a (click)="reloadPage()">
    <img src="https://uploads-tiflux.s3.amazonaws.com/production/organizations/logo_dark_and_default_modes/9513/original/Logo_(white).png?1679506377">
  </a>
  </div>
  <div class="menu">
   <li class="bot" (click)="selectComponent('GoGlobal')"> GoGlobal </li>
   <li class="bot" (click)="selectComponent('IssOnline')"> IssOnline </li>
   <li class="bot" (click)="selectComponent('egov')"> E-Gov </li>
   <li class="bot" (click)="selectComponent('egov_dev')"> E-Gov Homol.  </li>
   <li class="bot" (click)="selectComponent('config')"> Config E-Gov </li>
   <li class="bot" (click)="selectComponent('login-novo')"> Login Novo </li>
   <li class="bot" (click)="selectComponent('links')"> Links Uteis </li>
  </div>
  <p class="versao"> V1.12.02 </p>
</div>
