<div class="container" *ngIf="currentComponent === 'links'">

  <div class="titulo">
   Links Uteis
  </div>

  <div class="blocos">
    <div class="bloco-1">
      <div class="overlay">
        <div class="content">
          <div class="est"> Documentos </div>
          <div class="li"> <a href="https://docs.google.com/spreadsheets/d/1L1x8ciR39cm7Gy1FK3GqPam9p7SmWAoroaqxdwSgqac/edit#gid=0" target="_blank"> Cheat Sheet </a> </div>
          <div class="li"> <a href="https://docs.google.com/spreadsheets/d/1pv1kqTiT7C0B01VUQn-6-N7jH7Y1tbgn7tgI7p4EwM8/edit#gid=0" target="_blank"> Controle Arrecadação </a> </div>
          <div class="li"> <a href="https://docs.google.com/document/d/1lOPs3cfUF-W-5nU23Z5SZoCpNqdO7fwfLa36PR6WhMA/edit" target="_blank"> Lembretes Tributário </a> </div>
          <div class="li"> <a href="http://wiki.embras.net/books/comum-tributario" target="_blank"> Wiki - Comum Tributário </a> </div>
          <div class="li"> <a href="https://docs.google.com/spreadsheets/d/1BOOO4ETpJ4fXcVJOxQ5RN54Vy7N8R4lBFI6cHq6y47c/edit?gid=267894435#gid=267894435" target="_blank"> Contatos Clientes </a> </div>
          <div class="li"> <a href="http://manual.crabr.com.br/manual/" target="_blank"> Manual do CRA </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-2">
      <div class="overlay">
        <div class="content">
          <div class="est"> Links </div>
           <div class="li"> <a href="https://sos-legado.embras.net/index.php" target="_blank"> SOS - Legado </a> </div>
           <div class="li"> <a href="https://geosiap.eadplataforma.app/" target="_blank"> GeoSiap - EAD </a> </div>
           <div class="li"> <a href="https://numeroserie-beta.geosiap.net/#/login" target="_blank"> Geração de N° de série </a> </div>
           <div class="li"> <a href="http://suporte.cebi.com.br/Login.php?ret_link=%2FChamados.php&type=notLogged" target="_blank"> Suporte CEBI </a> </div>
           <div class="li"> <a href="https://github.com/orgs/geosiap-suporte/teams/suporte" target="_blank"> Github - Geosiap Suporte  </a> </div>
           <div class="li"> <a href="http://wiki.embras.net/login" target="_blank"> Wiki Embras  </a> </div>
           <div class="li"> <a href="https://demandas.embras.net/v/" target="_blank"> TiFlux  </a> </div>
           <div class="li"> <a href="https://dashboard.tawk.to/login#/dashboard/6172be7c86aee40a5737e13c" target="_blank"> Tawk.To  </a> </div>
           <div class="li"> <a href="http://172.16.80.62/tunnel.php" target="_blank"> Tunel Bancos  </a> </div>
           <div class="li"> <a href="http://172.16.80.62/doc/" target="_blank"> Consulta Parametros  </a> </div>
           <div class="li"> <a href="https://dev.geosiap.net/contas/login" target="_blank"> Config Contas Local  </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-3">
      <div class="overlay">
        <div class="content">
          <div class="est"> Adcionais </div>
          <div class="li"> <a href="https://demandas.embras.net/v/knowledge/11353/25447" target="_blank"> Bancos GoGlobal </a> </div>
          <div class="li"> <a href="https://demandas.embras.net/v/knowledge_folder/11608" target="_blank"> Historico de Versões </a> </div>
          <div class="li"> <a href="https://demandas.embras.net/v/knowledge_folders" target="_blank"> Conhecimentos Tiflux </a> </div>
          <div class="li"> <a href="https://protesto.com.br/cra/apresentantes/cra.php" target="_blank"> Login CRA </a> </div>
        </div>
      </div>
    </div>

  </div>
</div>
