<div class="container" *ngIf="currentComponent === 'jucesp'">

  <div class="titulo">
   Facilita-SP / Jucesp
  </div>

  <div class="blocos">

    <div class="bloco-1">
      <div class="overlay">
        <div class="content">
          <div class="est"> São Paulo </div>
          <div class="li"> <a href="https://siapegov.pindamonhangaba.sp.gov.br/jucesp/dashboard" target="_blank"> Pindamonhangaba </a> </div>
          <div class="li"> <a href="https://caraguatatuba.geosiap.net.br/jucesp/dashboard" target="_blank"> Caraguatatuba </a> </div>
          <div class="li"> <a href="https://siap.jacarei.sp.gov.br/jucesp/dashboard" target="_blank"> Jacarei </a> </div>
          <div class="li"> <a href="https://arapei.geosiap.net.br/jucesp/dashboard" target="_blank"> Arapei </a> </div>
          <div class="li"> <a href="https://pmcruzeiro.geosiap.net.br/jucesp/dashboard" target="_blank"> Cruzeiro </a> </div>
          <div class="li"> <a href="https://pmqueluz.geosiap.net.br/jucesp/dashboard" target="_blank"> Queluz </a> </div>
          <div class="li"> <a href="https://lagoinha.geosiap.net.br/jucesp/dashboard" target="_blank"> Lagoinha </a> </div>
          <div class="li"> <a href="https://redencaodaserra.geosiap.net.br/jucesp/dashboard" target="_blank"> Redenção </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-2">
      <div class="overlay">
        <div class="content">
          <div class="est"> Rio de Janeiro </div>
           <div class="li"> <a href="" target="_blank"> Não Utilizado </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-3">
      <div class="overlay">
        <div class="content">
          <div class="est"> Minas Gerais </div>
          <div class="li"> <a href="" target="_blank"> Não Utilizado </a> </div>
        </div>
      </div>
    </div>

  </div>
</div>
