<div class="container" *ngIf="currentComponent === 'interfaces'">

  <div class="titulo">
   Interfaces de Integrações (incompleto)
  </div>

  <div class="blocos">
    <div class="bloco-1">
      <div class="overlay">
        <div class="content">
          <div class="est"> São Paulo </div>
          <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
          <div class="li"> <a href="http://painel-pmbiritibamirim.geosiap.net.br/" target="_blank"> Biritiba Mirim </a> </div>
          <div class="li"> <a href="https://painel-pmcaraguatatuba.geosiap.net.br/" target="_blank"> Caraguatatuba </a> </div>
          <div class="li"> <a href="https://painel-pmcruzeiro.geosiap.net.br/" target="_blank"> Cruzeiro </a> </div>
          <div class="li"> <a href="http://geosiap.guararema.sp.gov.br/" target="_blank"> Guararema </a> </div>
          <div class="li"> <a href="https://painel-pmguaratingueta.geosiap.net.br/" target="_blank"> Guaratingueta </a> </div>
          <div class="li"> <a href="https://painel-pmjacarei.geosiap.net.br/" target="_blank"> Jacarei </a> </div>
          <div class="li"> <a href="http://painel-pmlavrinhas.geosiap.net.br/" target="_blank"> Lavrinhas </a> </div>
          <div class="li"> <a href="http://web.geosiap.net/pmpinda/" target="_blank"> Pindamonhangaba </a> </div>
          <div class="li"> <a href="https://painel-pmsantabranca.geosiap.net.br/" target="_blank"> Santa Branca </a> </div>
          <div class="li"> <a href="https://painel-pmsalesopolis.geosiap.net.br/" target="_blank"> Salesopolis </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-2">
      <div class="overlay">
        <div class="content">
          <div class="est"> Rio de Janeiro </div>
           <div class="li"> <a href="http://painel-pmbarradopirai.geosiap.net.br/" target="_blank"> Barra do Piraí </a> </div>
           <div class="li"> <a href="https://painel-pmjaperi.geosiap.net.br/" target="_blank"> Japeri </a> </div>
           <div class="li"> <a href="https://painel-pmnilopolis.geosiap.net.br/" target="_blank"> Nilópolis </a> </div>
           <div class="li"> <a href="https://cloud.pmsg.rj.gov.br/#/client/ODIAYwBteXNxbA" target="_blank"> São Gonçalo </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-3">
      <div class="overlay">
        <div class="content">
          <div class="est"> Minas Gerais </div>
          <div class="li"> <a href="https://painel-pmibirite.geosiap.net.br/" target="_blank"> Ibirité </a> </div>
        </div>
      </div>
    </div>

  </div>
</div>
