.container{
  margin-left: 27vh;
  background-color: rgb(41, 49, 53);
  border-radius: 7px;
  width: 85%;
  height: 98%;
  top: 9px;
  position: absolute;
  font-family: Be Vietnam Pro,sans serif;
  box-shadow: 4px 3px 15px 0px black;
}

.titulo{
  position: absolute;
  top: 3%;
  font-size: 30px;
  margin-left: 2%;
  color: aliceblue;
}

.blocos{
  position: absolute;
  display: flex;
  margin-left: 2%;
  width: 96%;
  height: 88%;
  top: 10%;
  float: left;
  justify-content: center;
}

.bloco-1,.bloco-2{
  font-size: 25px;
  color: aliceblue;
  border-radius: 7px;
  background-color: rgb(118, 119, 119);
  width:40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  box-shadow: 4px 3px 10px 0px black;
}

.li{
  margin-left: 25px;
  margin-top: 5px;
  width: 90%;
  height: 87px;
  justify-content: center;
  border-bottom: 1px solid;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 3px;
}


.bloco-1{
  flex: 1;
  margin-right: 30px;
}

.bloco-2{
  flex: 1;
  margin-right: 0px;
}

a{
  text-decoration-line: none;
  color:inherit
}

.li:hover{
  background-color: rgb(150, 148, 148);
}
