<div class="container">

  <div class="titulo">
   Atalhos GoGlobal
  </div>

  <div class="blocos">

    <div class="bloco-1">
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
    </div>

    <div class="bloco-2">
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
      <div class="li"> <a href="https://painel-pmarapei.geosiap.net.br/" target="_blank"> Arapei </a> </div>
    </div>

  </div>
</div>
