<div class="container">

  <div class="titulo">
   Atalhos GoGlobal
  </div>

  <div class="blocos">

    <div class="bloco-1">
      <div class="li"> Arapei </div>
      <div class="li"> Biritiba Mirim </div>
      <div class="li"> Barra do Piraí </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
    </div>

    <div class="bloco-2">
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
      <div class="li"> cidade </div>
    </div>

  </div>
</div>
