.container{
  margin-left: 27vh;
  background-color: rgb(41, 49, 53);
  border-radius: 7px;
  width: 85%;
  height: 98%;
  top: 9px;
  position: absolute;
  font-family: Be Vietnam Pro,sans serif;
}

.titulo{
  position: absolute;
  top: 3%;
  font-size: 30px;
  margin-left: 2%;
  color: aliceblue;
}

.blocos{
  background-color: rgb(122, 178, 211);
  position: absolute;
  margin-left: 3%;
  width: 94%;
  height: 88%;
  top: 10%;
}

.bloco-1{
  color: rgb(255, 255, 255);
}

.bloco-2{
  color: rgb(44, 101, 134)
}
