<app-header (componentSelected)="setComponent($event)"></app-header>

<div class="welcome-box" *ngIf="!currentComponent">
  <div class="welcome-content">
    <img class="welcome-logo" src="assets/Logo_(white).png" alt="Embras">
    <h1 class="welcome-title">Atalhos Tributário</h1>
    <p class="welcome-desc">
      Acesso rápido aos links dos sistemas tributários dos municípios atendidos pela Embras.
    </p>
    <div class="welcome-hint">
      <i class="fa-solid fa-hand-pointer"></i>
      <span>Selecione uma opção no menu lateral para visualizar os links</span>
    </div>
    <div class="welcome-tags">
      <span class="tag"><i class="fa-solid fa-globe"></i> GoGlobal</span>
      <span class="tag"><i class="fa-regular fa-newspaper"></i> IssOnline</span>
      <span class="tag"><i class="fa-solid fa-building-columns"></i> E-Gov</span>
      <span class="tag"><i class="fa-solid fa-user"></i> Config</span>
      <span class="tag"><i class="fa-solid fa-database"></i> Setup</span>
      <span class="tag"><i class="fa-solid fa-users"></i> Pessoas</span>
      <span class="tag"><i class="fa-solid fa-exchange"></i> Facilita-SP</span>
      <span class="tag"><i class="fa-solid fa-phone"></i> Atende Mais</span>
      <!--<span class="tag"><i class="fa-solid fa-money-bill"></i> PRP Web</span>-->
      <span class="tag"><i class="fa-solid fa-link"></i> Links Úteis</span>
    </div>
    <div class="welcome-sugestoes">
      <i class="fa-solid fa-envelope"></i>
      <div class="sugestoes-texto">
        <span>Para sugestões de novos links ou melhorias, entre em contato:</span>
        <span class="email-row">
          <span class="email-text">Jonathan.willian&#64;embras.net</span>
          <button class="copy-btn" (click)="copyEmail()" [title]="copied ? 'Copiado!' : 'Copiar e-mail'">
            <i class="fa-solid" [class.fa-copy]="!copied" [class.fa-check]="copied"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
</div>

<ng-container *ngIf="currentComponent === 'GoGlobal'">
  <app-goglobal></app-goglobal>
</ng-container>

<ng-container *ngIf="currentComponent === 'IssOnline'">
  <app-issonline></app-issonline>
</ng-container>

<ng-container *ngIf="currentComponent === 'egov'">
  <app-egov></app-egov>
</ng-container>

<ng-container *ngIf="currentComponent === 'egov_dev'">
  <app-egov-dev></app-egov-dev>
</ng-container>

<ng-container *ngIf="currentComponent === 'config'">
  <app-config-egov></app-config-egov>
</ng-container>

<ng-container *ngIf="currentComponent === 'interfaces'">
  <app-interfaces></app-interfaces>
</ng-container>

<ng-container *ngIf="currentComponent === 'links'">
  <app-links></app-links>
</ng-container>

<ng-container *ngIf="currentComponent === 'login-novo'">
  <app-login-novo></app-login-novo>
</ng-container>

<ng-container *ngIf="currentComponent === 'setup'">
  <app-setup></app-setup>
</ng-container>

<ng-container *ngIf="currentComponent === 'pessoas'">
  <app-pessoas></app-pessoas>
</ng-container>

<ng-container *ngIf="currentComponent === 'IssOnline-dev'">
  <app-issonline-dev></app-issonline-dev>
</ng-container>

<ng-container *ngIf="currentComponent === 'jucesp'">
  <app-jucesp></app-jucesp>
</ng-container>

<ng-container *ngIf="currentComponent === 'segunda-via'">
  <app-segunda-via></app-segunda-via>
</ng-container>

<ng-container *ngIf="currentComponent === 'atende_mais'">
  <app-atende-mais></app-atende-mais>
</ng-container>

<ng-container *ngIf="currentComponent === 'prp_web'">
  <app-prp-web></app-prp-web>
</ng-container>

<ng-container *ngIf="currentComponent === 'transparencia'">
  <app-transparencia></app-transparencia>
</ng-container>

