<div class="container" *ngIf="currentComponent === 'IssOnline'">

  <div class="titulo">
   Atalhos ISS-Online
  </div>

  <div class="blocos">

    <div class="bloco-1">
      <div class="overlay">
        <div class="content" *ngIf="currentPage === 1">
          <div class="est"> São Paulo </div>
          <div class="li"> <a href="https://siapegov.pindamonhangaba.sp.gov.br/pmpinda/issonline/iss.login.php" target="_blank"> Pindamonhangaba </a> </div>
          <div class="li"> <a href="https://pmguaratingueta.geosiap.net.br/pmguaratingueta/issonline/iss.login.php" target="_blank"> Guaratinguetá </a> </div>
          <div class="li"> <a href="https://egov.jacarei.sp.gov.br/pmjacarei/issonline/iss.login.php" target="_blank"> Jacarei </a> </div>
          <div class="li"> <a href="https://pmcachoeirapaulista.geosiap.net.br/pmcachoeirapaulista/issonline/iss.login.php" target="_blank"> Cachoeira Paulista </a> </div>
          <div class="li"> <a href="https://siap.lorena.sp.gov.br/pmlorena/issonline/iss.login.php" target="_blank"> Lorena </a> </div>
          <div class="li"> <a href="https://pmbiritibamirim.geosiap.net.br/pmbiritibamirim/issonline/iss.login.php" target="_blank"> Biritiba Mirim </a> </div>
          <div class="li"> <a href="https://pmcruzeiro.geosiap.net.br/pmcruzeiro/issonline/iss.login.php" target="_blank"> Cruzeiro </a> </div>
          <div class="li"> <a href="https://pmlavrinhas.geosiap.net.br/pmlavrinhas/issonline/iss.login.php" target="_blank"> Lavrinhas </a> </div>
          <div class="li"> <a href="https://pmcanas.geosiap.net.br/pmcanas/issonline/iss.login.php" target="_blank"> Canas </a> </div>
          <div class="li"> <a href="https://siap.pompeia.sp.gov.br/pmpompeia/issonline/iss.login.php" target="_blank"> Pompéia </a> </div>
          <div class="li"> <a href="https://pmredencao.geosiap.net.br/pmredencaodaserra/issonline/iss.login.php" target="_blank"> Redenção da Serra </a> </div>
          <div class="paginas">
            <button (click)="pag(1)" class="pag"> 1 </button>
            <button (click)="pag(2)" class="pag"> 2 </button>
          </div>
        </div>
        <div class="content" *ngIf="currentPage === 2">
          <div class="est"> São Paulo </div>
          <div class="li"> <a href="https://pmsalesopolis.geosiap.net.br/pmsalesopolis/issonline/iss.login.php" target="_blank"> Salesópolis </a> </div>
          <div class="li"> <a href="https://pmsantabranca.geosiap.net.br/pmsantabranca/issonline/iss.login.php" target="_blank"> Santa Branca </a> </div>
          <div class="li"> <a href="http://pmsilveiras.geosiap.net.br:8080/pmsilveiras/issonline/iss.login.php" target="_blank"> Silveiras </a> </div>
          <div class="li"> <a href="https://pmarapei.geosiap.net.br/pmarapei/issonline/iss.login.php" target="_blank"> Arapei </a> </div>
          <div class="li"> <a href="https://pmqueluz.geosiap.net.br/pmqueluz/issonline/iss.login.php" target="_blank"> Queluz </a> </div>
          <div class="li"> <a href="https://pmbananal.geosiap.net.br/pmbananal/issonline/iss.login.php" target="_blank"> Bananal </a> </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="li2">  </div>
          <div class="paginas2">
            <button (click)="pag(1)" class="pag" [class.active]> 1 </button>
            <button (click)="pag(2)" class="pag" [class.active]> 2 </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bloco-2">
      <div class="overlay">
        <div class="content">
          <div class="est"> Rio de Janeiro </div>
           <div class="li"> <a href="https://pmjaperi.geosiap.net.br/pmjaperi/issonline/iss.login.php" target="_blank"> Japeri </a> </div>
        </div>
      </div>
    </div>

    <div class="bloco-3">
      <div class="overlay">
        <div class="content">
          <div class="est"> Minas Gerais </div>
          <div class="li"> <a href="https://pmitamonte.geosiap.net.br/pmitamonte/issonline/iss.login.php" target="_blank"> Itamonte </a> </div>
          <div class="li"> <a href="https://pmibirite.geosiap.net.br/pmibirite/issonline/iss.login.php" target="_blank"> Ibirité </a> </div>
          <div class="li"> <a href="https://pmpousoalto.geosiap.net.br:8443/pmpousoalto/issonline/iss.login.php" target="_blank"> Pouso Alto </a> </div>
        </div>
      </div>
    </div>

  </div>
</div>
