.container{
  margin-left: 17%;
  background-color: rgb(41, 49, 53);
  border-radius: 7px;
  width: 80%;
  height: 97%;
  top: 9px;
  position: absolute;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-shadow: 4px 3px 15px 0px black;
  border: 1px solid rgb(80, 80, 80);
}

.titulo{
  position: absolute;
  top: 3%;
  font-size: 30px;
  margin-left: 2%;
  color: aliceblue;
  font-weight: bold;
}

.blocos{
  position: absolute;
  display: flex;
  margin-left: 2%;
  width: 96%;
  height: 88%;
  top: 10%;
  float: left;
  justify-content: center;
}

.bloco-1,.bloco-2,.bloco-3{
  font-size: 165%;
  color: aliceblue;
  border-radius: 7px;
  border: 1px solid rgb(116, 115, 115);
  background-color: rgb(118, 119, 119);
  width:25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  box-shadow: 4px 3px 10px 0px black;
}


.bloco-1{
  flex: 1;
  margin-right: 30px;
  background-image: url('https://images.unsplash.com/photo-1572894234976-d961418c709d?q=80&w=735&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-repeat: no-repeat;
  background-size: cover;
}


.bloco-2{
  flex: 1;
  margin-right: 30px;
  background-image: url('https://dellago.rio.br/wp-content/uploads/2024/02/Zonas-Ponto-Turistico-2.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90%;
}

.bloco-3{
  flex:1;
  margin-right: 0px;
  background-image: url('https://media.istockphoto.com/id/1351677112/pt/foto/a-quiet-historic-street-in-the-city-of-tiradentes-in-minas-gerais.jpg?s=2048x2048&w=is&k=20&c=DQHOK2ffHyNAwdhHEfOOYXeBw4l_svDMTD8AfSM3Iao=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 35%;
}

a{
  text-decoration-line: none;
  color:inherit;
  margin-left: 3%;
}

.li:hover{
  background-color: rgba(150, 148, 148, 0.753);
  color: rgb(0, 0, 0);
}

.overlay {
  position: absolute;
  width: 32%;
  border-radius: 7px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.5s ease;
}

.overlay:hover {
  opacity: 5;
}

.est{
  margin-left: 3%;
  margin-top: 2%;
  font-size: 110%;
  width: 200px;
}

.content {
  //position: absolute;
  width: 100%;
  height: 100%;
  color: #fff; /* Cor do texto */
  text-align: left;
}

.li, .li2{
  margin-left: 8%;
  margin-top: 3.8%;
  width: 85%;
  height: 4.3vh;
  justify-content: center;
  display: flex;
  position: relative;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 3px;
}

.paginas{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 6%;
}

.paginas2{
  margin-top: 5%;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 6%;
}

.pag{
  border-radius: 50%;
  margin-right: 15px;
  border: 1px solid;
  width: 6%;
  height: 60%;
  background-color: rgba(240, 248, 255, 0.527);
}

.pag:hover{
  background-color: rgba(255, 255, 255, 0.89);
  cursor: pointer;
}
